@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #fff;
    line-height: 1.6;
    padding: 50px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
}

.faq {
    margin-top: 20px;
}

.item {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: perspective(1000px) rotateX(0deg);
    transition: all 0.3s ease-out;
    position: relative;
}

.item:hover {
    box-shadow: 0 15px 40px rgba(0, 255, 255, 0.6);
    transform: perspective(1000px) rotateX(10deg);
}

.item .pregunta {
    font-size: 1.5em;
    font-weight: bold;
    color: #00bcd4;
    margin-bottom: 15px;
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.item .pregunta::after {
    content: "▼";
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #00bcd4;
}

.item .respuesta {
    font-size: 1.1em;
    color: #ddd;
    margin-top: 10px;
    display: none;
    animation: fadeIn 0.5s ease-out;
}

.item.active .respuesta {
    display: block;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: #ccc;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

footer p {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
